<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <ion-header no-border >
  <ion-row style="height: 14vw; background-image: linear-gradient(to right,#d6d5d5,#929292);-webkit-box-shadow: -1px 7px 5px -6px rgba(0,0,0,0.75);-moz-box-shadow: -1px 7px 5px -6px rgba(0,0,0,0.75);box-shadow: -1px 7px 5px -6px rgba(0,0,0,0.75);">
    <ion-title style="text-align: left;font-size:8vw;margin-top: 1vw">
      <button  menuToggle start style="height: 10vw;width: 10vw;background-color: transparent">
        <ion-icon name="menu" style="color: black;font-size: 9vw"></ion-icon>
        <div style="margin-left: 9vw;margin-top: -7vw;font-size: 5vw"><b>Packages </b></div>
      </button>
    </ion-title>
  </ion-row>
  <div padding  >
    
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="pla">
        Active Packages
      </ion-segment-button>
      <ion-segment-button value="cli">
        Deactive Packages
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<ion-content style="margin-top: -10px" >
  <div [ngSwitch]="pet"    >
    <ion-list *ngSwitchCase="'pla'" >
        <div >
       

     
      <ion-item-sliding *ngFor="let d of da; let i= index;">
     
          <ion-item>
              <ion-row>
                <ion-col col-6>
                <img [src]=da[i].img.image1 style="height: 15vw;width: 15vw">
            
             </ion-col>
             <ion-col col-6 style="margin-left:-23vw">
             
                <button [id]=i (click)="view(i)" style="width: 100%;background-color: transparent">
                    <p style="font-size: 4vw">Package Name: {{da[i].pckname}}</p>
                    <p style="font-size: 4vw">  Total Request: {{da[i].nr}}</p>
                        <p style="font-size: 4vw"> Area: {{da[i].area}},{{da[i].city}} </p>
  
                    </button>
             
             </ion-col>
             
       
  
        </ion-row>
        </ion-item>
  
        <ion-item-options side="left">
            <button   (click)="clicl($event)" style="background-color: transparent;color: rgb(150, 12, 12)" >
                <i class="fa fa-times-circle" style="font-size: 5vw"></i>
                <p style="font: size 1vw">Deactivate</p>  
                
              </button>
        </ion-item-options>
      
    
    
        
       <!--
        <ion-item-options side="left">
          <button [id]="p.plan_id"  (click)="clicl($event)" style="background-color: transparent;color: red" >
            <ion-icon name="trash"></ion-icon>
            <p style="font-size: 3vw">remove</p>
          </button>
          <button [id]="p.plan_id"  (click)="edt($event)" style="background-color: transparent">
            <ion-icon name="custom-tabs"></ion-icon>
            <p style="font-size: 3vw">edit</p>
          </button>
        </ion-item-options>--->
      </ion-item-sliding>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'cli'"  >
        <div >
       

     
            <ion-item-sliding *ngFor="let d of da1; let i= index;">
           
                <ion-item>
                    <ion-row>
                      <ion-col col-6>
                      <img [src]=da1[i].img.image1 style="height: 15vw;width: 15vw">
                  
                   </ion-col>
                   <ion-col col-6 style="margin-left:-23vw">
                   
                      <button [id]=i (click)="views(i)" style="width: 100%;background-color: transparent">
                          <p style="font-size: 4vw">Package Name: {{da1[i].pckname}}</p>
                          <p style="font-size: 4vw"> Toatal Request: {{da1[i].nr}}</p>
                              <p style="font-size: 4vw"> Area: {{da1[i].area}},{{da1[i].city}} </p>
        
                          </button>
                   
                   </ion-col>
                   
             
        
              </ion-row>
              </ion-item>
        
              <ion-item-options side="left">
                  <button   (click)="clicl($event)" style="background-color: transparent;color: rgb(11, 56, 2)" >
                      <i class="fa fa-check-circle" style="font-size: 5vw"></i>
                      <p style="font: size 1vw">Deactivate</p>  
                      
                    </button>
              </ion-item-options>
            
          
          
              
             <!--
              <ion-item-options side="left">
                <button [id]="p.plan_id"  (click)="clicl($event)" style="background-color: transparent;color: red" >
                  <ion-icon name="trash"></ion-icon>
                  <p style="font-size: 3vw">remove</p>
                </button>
                <button [id]="p.plan_id"  (click)="edt($event)" style="background-color: transparent">
                  <ion-icon name="custom-tabs"></ion-icon>
                  <p style="font-size: 3vw">edit</p>
                </button>
              </ion-item-options>--->
            </ion-item-sliding>
            </div>
    </ion-list>
  </div>




</ion-content>