page-promanagepcktab {


        ion-icon {
            &[class*="custom-"] {
              mask-size: contain;
              mask-position: 50% 50%;
              mask-repeat: no-repeat;
              background: currentColor;
              width: 1em;
              height: 1em;
            }
            &[class*="custom-mynewicon"] {
              mask-image: url(../../assets/img/icons8-check-all-50.png);
            }
        }
    
    
        
        ion-icon {
            &[class*="custom-"] {
              mask-size: 3vw;
              mask-position: 50% 50%;
              mask-repeat: no-repeat;
              background: currentColor; 
              width: 1em;
              height: 1em;
            }
            &[class*="custom-tabs"] {
              mask-image: url(../../assets/img/icons8-drop-down-24.png);
            }
        }
    
        
        ion-icon {
            &[class*="custom-"] {
              mask-size: contain;
              mask-position: 50% 50%;
              mask-repeat: no-repeat;
              background: currentColor; 
              width: 1em;
              height: 1em;
            }
            &[class*="custom-c"] {
              mask-image: url(../../assets/img/icons8-close-window-26.png);
            }
        }
    
    
    }
    

